@tailwind base;
@tailwind components;
@tailwind utilities;


.projects img {
  width: 70%;
}

/* color */
.bg-primary {
  background: #2b064a;
}

.bg-secondary {
  background: #042069;
}

.bg-accent {
  background: #461b00;
} 

.text-accent {
  color: #ffffff;
}

nav li a {
  @apply p-4 text-lg;
}

nav li a:hover {
  @apply text-[#00e5e5];
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-[#250046] duration-300;
}

h1 {
  @apply text-4xl font-bold text-accent;
  font-family: 'Roboto', monospace;
  line-height: 2.5;
}


